@model laboAT2.Models.cour


@{
    ViewBag.Title = "ajoutCours";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<span class="border-start-0">
    <h2>Create Courses</h2>

    @using (Html.BeginForm("ajoutCours", "Enseignant", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.titre, htmlAttributes: new { @class = "form-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.titre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.titre, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "form-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "input-group-text" } })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.niveauEducation, htmlAttributes: new { @class = "form-label" })
        <div class="col-md-10">
            <select class="form-control" aria-label="Default select example" name="Id" id="Id">
                @if (ViewBag.courses != null)
                {
                    foreach (var item in ViewBag.courses)
                    {
                        <option value="@item.Id">@item.titre</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.prix, htmlAttributes: new { @class = "form-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.prix, new
            {
                htmlAttributes = new { @class = "input-group-text" }
            })
            @Html.ValidationMessageFor(model => model.prix, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="" input-group mb-3"">
        @Html.LabelFor(model => model.img, htmlAttributes: new { @class = "form-label" })
        <div class="col-md-10">

            <input type="file" id="img" name="img" class="input-group-text">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
</div>
    }

    <div>

    </div>
</span>
