@model laboAT2.Models.clsEtudiant
@{
    ViewBag.Title = "Inscription";
}





@using (Html.BeginForm("inscription", "Inscription", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.nom)
        @Html.TextBoxFor(m => m.nom, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.nom, "you must enter a Lastname", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.prenom)
        @Html.TextBoxFor(m => m.prenom, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.prenom, "You must enter you name", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.email);
        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.email, "you must enter a valid email", new { @class = "text-danger" })
    </div>
    @*<div class="form-group">
        @Html.LabelFor(model => model.Neducation, "Video", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-select" aria-label="Default select example" name="idEducation" id="idEducation">
                @if (ViewBag.nvEducation != null)
                {
                    foreach (var item in ViewBag.nvEducation)
                    {
                        <option value="@item.Id">@item.titre</option>
                    }
                }
            </select>
        </div>*@
   
    <div class="form-group">
        @Html.LabelFor(m => m.Neducation);
        @Html.TextBoxFor(m => m.Neducation, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Neducation, "you must enter your Education Level", new { @class = "text-danger" })
    </div>
    @*<div class="form-group">
            @Html.Label("Select Your Education Level")
            @Html.DropDownList("lstNvEducation", new SelectList(Model, "Neducation"), "Select an option", new { @class = "form-control" })
            @Html.ValidationMessage("lstNvEducation", "Please select an education level", new { @class = "text-danger" })
        </div>*@
    <button type="submit" class="btn btn-primary">Register</button>
}



